
h1{
    color:brown;
    padding-left: 250px;
}
body{
    background-color: aquamarine;
    padding-left:300px;
}
form{
    padding-left: 200px;
    color:red;
    font-size:20px;
}
h6{
    color:brown;
    padding-left: 250px;   
}



